## 重要

Clineは現在のコンテキストに応じた処理はユーザーよりも苦手です。コンテキストが不明瞭な時は、ユーザーに確認します。

## プロジェクト概要

このプロジェクトは東大寺学園文化祭「菁々祭」の公式Webサイト(seiseisai.com)です。

現在、主に以下の技術スタックを用いて構築されています。

- Next.js (App Router)
- Bun
- Typescript
- shadcn/ui
- Prisma
- Turborepo

## 機密ファイル

.envファイルの読み取りを禁止します。

## その他の情報

README.mdにその他の基本情報が載っていますので、プロジェクトの構造を把握する必要があるときは必ず参照してください。
