{
    "tabWidth": 4,
    "printWidth": 120,
    "endOfLine": "lf",
    "tailwindStylesheet": "./packages/ui/src/styles/globals.css",
    "tailwindFunctions": ["clsx", "twMerge", "cn"],
    "plugins": ["prettier-plugin-tailwindcss"]
}
