.news-article {
    font-size: 18px;
    line-height: 1.9;
    word-break: break-all;
}

.news-element {
    width: 100%;
}

a.news-element {
    color: #006fd6;
    text-decoration: underline;
}

div.news-element {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

h1.news-element {
    overflow: initial;
    font-size: 28px;
    font-weight: 500;
}

h2.news-element {
    font-size: 24px;
    font-weight: 500;
}

h3.news-element {
    font-size: 22px;
    font-weight: 500;
}

h4.news-element {
    font-size: 20px;
    font-weight: 500;
}

h5.news-element {
    font-size: 19px;
    font-weight: 500;
}

h6.news-element {
    font-size: 18px;
    font-weight: 500;
}

.news-youtube-embed {
    width: 100%;

    & > div {
        display: flex;
        justify-content: center;
        width: 100% !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    & > div > lite-youtube {
        width: 80%;
        max-width: 80% !important;
    }
}

.news-tweet-embed {
    width: 100%;
    margin-top: 20px;

    & > div {
        margin: 0 auto;
        overflow: hidden;
        border-radius: 10px;
        transition: box-shadow 0.2s ease-in-out;

        *::selection {
            color: #fff;
            background-color: #006fd6;
        }
    }
}
